[Data]
datapath_training=../data/raw/kitti/training
datapath_testing=../data/raw/kitti/testing
split_path_train=../split/kitti15_train.txt
split_path_test=../split/kitti15_test.txt
split_path_eval=../split/kitti15_eval.txt
H = 376
W = 1240
height=256
width=512
max_disparity=192

[Siamese]
in_channels=3
channels=32
kernel_size_res=3
kernel_size_siamese=7
num_res_blocks=8

[CostVolume]
num_cost_blocks=5
max_disparity=192
channels3d=[64,32,16,8,4,1]

[DisparityRegression]
scale_factor=4
mode=nearest

[StereoDepth]


[Training]
learning_rate=1e-3
epochs=50
eval_freq=1
save_freq=10
batch_size=1
num_workers=8