[Data]
datapath=../data/raw/Sampler/

[Siamese]
in_channels=3
channels=32
height=256
width=512
kernel_size_res=3
kernel_size_siamese=7
num_res_blocks=8

[CostVolume]
num_cost_blocks=5
max_disparity=192
channels3d=[64,32,16,8,4,1]

[DisparityRegression]
scale_factor=4
mode=nearest
[StereoDepth]
batch_size=16
